.navigationMenu{
  position:sticky;
  top: 0;
  background-color: aquamarine;
}
#root table > tbody > tr th{
  text-wrap: nowrap;
  width:0%;
}
.blurbDataContainer{
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
.card-body{
  height: 300px;
}
:is(#setBlurbData) input, textarea{
 width: 100%;
}
.cursorPointer{
  cursor: pointer;
}